<ion-view view-title="Noticia">
    <ion-header-bar class="bar-stable">
        <h1 class="title">Detalle</h1>
    </ion-header-bar>
    <ion-content>
        <div class="card">
            <div class="item-divider">
                <h2>{{event.fecha}} {{event.titular}}</h2>
            </div>
            <div class="item-body">
                {{event.resumen}}
            </div>
            <div class="item-divider">
                <h2>{{event.autor}}</h2>
            </div>
        </div>
    </ion-content>
</ion-view>