<ion-view view-title="">
    <ion-content>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div class="row row-center">
            <div class="col">
            </div>
            <div class="col">
                <img src="img/ionic.png">
            </div>
            <div class="col">
            </div>
        </div>     
        <div class="row-bottom">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </ion-content>
</ion-view>